.stores {
  margin-bottom: rem(48);

  &__em {
    margin-left: rem(4);

    font-size: rem(14);
  }

  &__item {
    margin-bottom: rem(8);
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }
}
